.sub-content-group {
  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-bottom: 4rem;
}

.sub-content-item {
  box-sizing: border-box;
 flex: 'flex-grow';
  flex: 1 1 300px;
  margin-right: 1rem;
}
